@using MIS442Store.DataLayer.DataModels

@model List<Product>
@Html.ActionLink("Add New Product","Add","Product")
<table>
    <thead>
        <tr>
            <th>ProductID</th>
            <th>Product Code</th>
            <th>Product Name</th>
            <th>Product Version</th>
            <th>Product Release Date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(Product prod in Model)
        {
            <tr>
                
                <td>@prod.ProductID</td>
                
                <td>@prod.ProductCode</td>
                
                <td>@prod.ProductName</td>
               
                <td>@prod.ProductVersion</td>
                
                <td>@prod.ProductReleaseDate</td>
                <td>@Html.ActionLink("edit","Edit","Product",new { @id=prod.ProductID},null)</td>
            </tr>
        }
    </tbody>
</table>