@using MIS442Store.DataLayer.DataModels

@model Product


@using (Html.BeginForm())

{


    @Html.HiddenFor(m => m.ProductID)


    @Html.LabelFor(m => m.ProductCode)
    @Html.TextBoxFor(m => m.ProductCode)

    @Html.LabelFor(m => m.ProductName)
    @Html.TextBoxFor(m => m.ProductName)

    @Html.LabelFor(m => m.ProductVersion)
    @Html.TextBoxFor(m => m.ProductVersion)

    @Html.LabelFor(m => m.ProductReleaseDate)
    @Html.TextBoxFor(m => m.ProductReleaseDate)

    <button type="submit">Submit</button>

}
